*.db filter=lfs diff=lfs merge=lfs -text
*.ipch filter=lfs diff=lfs merge=lfs -text
PacketSender/.vs/PacketSender/v15/*db filter=lfs diff=lfs merge=lfs -text
PacketSender/.vs/PacketSender/v15/ipch/*.ipch filter=lfs diff=lfs merge=lfs -text
PacketSender/.vs/PacketSender/v15/*.db filter=lfs diff=lfs merge=lfs -text
PacketSender/.vs/PacketSender/v16/ipch/*.ipch filter=lfs diff=lfs merge=lfs -text
